[package]
name = "orogene"
version = "0.1.0"
authors = ["Orogene Maintainers and Contributors"]
edition = "2021"
description = "wip"
license = "Apache-2.0"
repository = "https://github.com/orogene/orogene"
homepage = "https://github.com/orogene/orogene"
readme = "README.md"
build = "build.rs"
rust-version = "1.67.0"

[dependencies]
# Commands
cmd-ping = { path = "./commands/cmd-ping" }
cmd-resolve = { path = "./commands/cmd-resolve" }
cmd-restore = { path = "./commands/cmd-restore" }
cmd-view = { path = "./commands/cmd-view" }

# Workspace Deps
oro-command = { path = "./crates/oro-command" }
oro-config = { path = "./crates/oro-config" }

# Regular deps
async-std = { workspace = true, features = ["attributes", "tokio1", "unstable"] }
async-trait = { workspace = true }
clap = { workspace = true, features = ["derive"] }
directories = { workspace = true }
miette = { workspace = true, features = ["fancy"] }
tracing = { workspace = true}
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }

[workspace]
members = [
    ".",
    "crates/*",
    "commands/*",
]

[workspace.dependencies]
async-std = "1.12.0"
async-trait = "0.1.64"
chrono = "0.4.23"
clap = "4.1.4"
console_error_panic_hook = "0.1.7"
directories = "4.0.1"
futures = "0.3.26"
js-sys = "0.3.61"
kdl = "5.0.0-alpha.0"
maplit = "1.0.2"
miette = "5.5.0"
node-semver = "2.1.0"
nom = "7.1.3"
pretty_assertions = "1.3.0"
serde = "1.0.152"
serde_json = "1.0.93"
serde-wasm-bindgen = "0.4.5"
ssri = "7.0.0"
tempfile = "3.3.0"
thiserror = "1.0.38"
tracing = "0.1.37"
url = "2.3.1"
wasm-bindgen = "0.2.84"
wasm-bindgen-futures = "0.4.34"
wasm-streams = "0.2.3"
wiremock = "0.5.17"

[build-dependencies]
embed-resource = "1.3.3"

[[bin]]
name = "oro"
path = "src/main.rs"

[profile.release]
lto = true
opt-level = 3
strip = true
debug = false
