[package]
name = "orogene"
version = "0.1.0"
authors = ["Orogene Collaborative Members", "Orogene Public Contributors"]
edition = "2018"
description = "wip"
license-file = "LICENSE.md"
repository = "https://github.com/orogene/orogene"
homepage = "https://github.com/orogene/orogene"
readme = "README.md"

[workspace]
exclude = [
    "crates/obelisk"
]
members = [
    ".",
    "crates/*",
    "crates/oro-diagnostics/oro-diagnostics-derive",
    "syenite",
    "syenite/commands/*",
    "antimony/src-tauri",
    "antimony/handlers/*"
]
