[package]
name = "oro-shim-bin"
version = "0.3.34"
description = "Generates shims for NPM bins"
readme = "README.md"
license = "Apache-2.0"

authors.workspace = true
edition.workspace = true
repository.workspace = true
homepage.workspace = true
rust-version.workspace = true

[dependencies]
once_cell = { workspace = true }
pathdiff = { workspace = true }
regex = { workspace = true }

[dev-dependencies]
insta = { workspace = true }
tempfile = { workspace = true }
